<div class="uk-block-muted uk-margin-large-top"  >
    <div class="uk-panel uk-panel-box uk-panel-box-secondary">
        <div class="uk-align-right">
            <h1>Contact Details</h1>
            <h2>
                <strong>Company Name</strong>
                <br>No. 96, 1st Cross
                <br>Sarvaboumanagara
                <br>Chikkalasandra
                <br>Bangalore - 560 061
                <br>Karnataka
                <br>India
            </h2>
            <h2>
                <a class="uk-icon-envelope"> murtyprimemarketing@yahoo.co.in</a>
                <br><a class="uk-icon-envelope">  primemarketing96@gmail.com </a>

            </h2>
            <h2 class="uk-icon-mobile-phone"> +91 - 9844013058 <br></h2>
            <h2 class="uk-icon-phone-square"> 080 - 26390539</h2>
          <!--  <h3 class="uk-h4">Follow Us</h3>
            <h2>
                <a href="#" class="uk-icon-button uk-icon-github"></a>
                <a href="#" class="uk-icon-button uk-icon-twitter"></a>
                <a href="#" class="uk-icon-button uk-icon-dribbble"></a>
                <a href="#" class="uk-icon-button uk-icon-html5"></a>
            </h2> -->
        </div>
    </div>
</div>
<div class="uk-panel uk-panel-box uk-text-center">
 <h2 class="uk-icon-copyright"> 2016  <a href="/"> Prime Marketing </a>. All rights Reserved  </h2>
</div>
</div>
</body>