
<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PRIME MARKETING - A trusted name in the field of ENT Specialty since 1995</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/uikit.docs.min.css">
	<script src="/js/ga.js"></script>
        <script src="/js/libs/jquery.js"></script>
        <script src="/js/uikit.min.js"></script>
        <script src="/js/components/slideshow.min.js"></script>
        <script src="/js/components/slideshow-fx.min.js"></script>
        <script src="/js/components/grid.min.js"></script>
 </head>
<body>

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
<div class="uk-grid uk-margin-small-bottom uk-margin-small-top" data-uk-grid-margin>
	<div class="uk-width-medium-5-8 uk-row-last">
		<a href="/"><img src="/img/logo.png" alt="logo"></a>
	</div>
</div>
