<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">

        <div class="uk-slidenav-position" data-uk-slideshow="{animation: 'random-fx', autoplay:'true'}">
            <ul class="uk-slideshow">
                <li><img src="/img/banner1.jpg"</li>
                <li><img src="/img/banner2.jpg"></li>
                <li><img src="/img/banner3.jpg"></li>
            </ul>
            <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous" style="color: rgba(255,255,255,0.4)"></a>
            <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next" style="color: rgba(255,255,255,0.4)"></a>
        </div>

    </div>
</div>